extends layout.pug

block content
  main.page-content
    section.comments
      div.comments__wrapper
        h1.visually-hidden Страница комментариев
        each item in items
          div.comments__block
            div.comments__header
              a.announce-card(href="#")
                h2.announce-card__title #{item.title}
                span.announce-card__info
                  span.announce-card__price ₽ #{item.sum}
                  span.announce-card__type
                    +ticketLabel(item.type)
            +commentsList(item.comments, true)
