extends layout.pug

block content
  main.page-content
    section.login
      form.login__form.form(action="/login" method="POST")
        div.login__title
          a.login__link(href="/register") Регистрация
          h2 Вход
        div.form__field.login__field
          input#user-email.js-field(value=loginPayload.login type="email" name="email" required)
          label(for="user-email") Эл. почта
        div.form__field.login__field
          input#user-password.js-field(value=loginPayload.password type="password" name="password" required)
          label(for="user-password") Пароль
        +errorList(errorMessages)
        button.login__button.btn.btn--medium.js-button(type="submit" disabled) Войти
