extends layout.pug

block content
  main.page-content
    section.categories-list
      h1.visually-hidden Сервис объявлений "Куплю - продам"
      include partials/categories-list.pug
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      div.tickets-list__wrapper
        div.tickets-list__header
          p.tickets-list__title Самое свежее
        +offerList(items)
