extends layout.pug

block content
  main.page-content
    section.categories-list
      h1.visually-hidden Сервис объявлений "Куплю - продам"
      include partials/categories-list.pug
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      div.tickets-list__wrapper
        div.tickets-list__header
          p.tickets-list__title Самое свежее
        ul.tickets-list__list
          each item, idx in items
            li.tickets-list__item
              +ticketCard(item, idx)
      +pagination(page, totalPages, 2, `?`)
    //- section.tickets-list
    //-   h2.visually-hidden Самые обсуждаемые предложения
    //-   div.tickets-list__wrapper
    //-     div.tickets-list__header
    //-       p.tickets-list__title Самые обсуждаемые
    //-     ul
    //-       each item, idx in items
    //-         li.tickets-list__item
    //-           +ticketCard(item, idx)
