extends layout.pug

block content
  main.page-content
  section.tickets-list
    h2.visually-hidden Самые новые предложения
    div.tickets-list__wrapper
      div.tickets-list__header
        a.tickets-list__btn.btn.btn--big(href="/offers/add")
          span Новая публикация
      ul
        each item, idx in items
          li.tickets-list__item.js-card
            +ticketCard(item, idx, true)
